CompileFlags:
  Compiler: g++
  Add:
    - -xc++
    - -std=c++17
    - -DGLEW_STATIC
    - -DGLEW_NO_GLU
    - -Isource
    - -Iengine/source
    - -Iengine/thirdparty/glew/include
    - -Iengine/thirdparty/glfw-3.4/include
    - -Iengine/thirdparty/glm
    - -Iengine/thirdparty/stb_image
    - -Iengine/thirdparty/cgltf
    - -Iengine/thirdparty/json
    - -Iengine/thirdparty/miniaudio
    - -Ibuild/engine_build
    - -Ibin/debug/engine_build
  CompilationDatabase: .
